* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .contacts-container {
    width: 100%;
  }
  
  .contacts-list {
    display: flex;
    row-gap: 15px;
    column-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-card {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
    transition: 0.6s;
  }
  
  .contact-card:hover {
    background-color: #444;
    cursor: pointer;
    transform: scale(1.15) translateY(-10px);
    margin: 10px;
  }
  
  .contact-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-card span {
    font-size: 16px;
    font-weight: 400;
    color: aqua;
  }
  
  .contact-card__name {
    font-size: 24px;
    font-weight: 700;
  }
  
  .contact-card__phone_number {
    font-size: 16px;
    font-weight: 400;
  }
  
  .contact-card__coordinates {
    font-size: 16px;
    font-weight: 400;
  }
  