* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.contact-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: rgb(45, 40, 40);
  color: #fff;
}

.contact-card__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-card__phone_number {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-card__coordinates {
  font-size: 16px;
  font-weight: 400;
}
